{% extends "AppBundle:Profile:profile_layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block profileContent %}
 <h1>welkom bij AskADev</h1>

    <p>Vanaf hier kan je:</p>
<ul class="list-group">
    <li class="list-group-item">Vragen beantwoorden</li>
    <li class="list-group-item">Jouw beantwoorde vragen inzien</li>
    <li class="list-group-item">Je profiel bijwerken</li>
</ul>

{% endblock %}