{% extends "base.html.twig" %}

{% block title %}Question - Edit{% endblock %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}

    <div class="container-fluid">
        <div class="col-md-offset-3 col-md-6">
            <div class="jumbotron">
                <a href="{{ path('question_index') }}"><i class="mdi-navigation-arrow-back"></i></a>
                {% block formContent %}
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
